@import "normalize";
@import "modern_business";


.container-fluid {
	width: 85%;
	margin: 0 auto;
}

/*******  Day boxes  *********/

.days_group {
	margin: 3em 3em;

	.day {
		// margin: 3em 0 0 3em;
		padding: 0.75em 1em;
	}
}

#add_day{
	margin: 3em 0;
	padding: 0.75em;
}




/*******  Dropdown Menus *********/

.dropdown_menus {
	align-content: center;

	.menus {
		display: inline-block;
		box-sizing: border-box;
		width: 275px;
		margin: 2em 0.5em 0 0.5em;
		padding: 1em 2em;
		border-radius: 5px;
		background-color: #EEE;
		text-align: center;

		h2 {
			text-decoration: underline;
			margin: 0 0 0.8em;
		}
		
		.dropdown-menu {
			border: 1px solid #000;
			text-align: left;
		}
	}
	
	.btn-default {
		float: left;
		margin: 0 auto;
		max-width: 135px;
	}
}



/******* Google Maps ***********/


#map-canvas{
	margin-top:25px;
	height: 500px;
	width: 900px;
	box-shadow: 2px 2px 12px #888;
}

@import "responsive";